USE [PIAventas]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetallesDePedidos'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetallesDePedidos'

GO
/****** Object:  Trigger [TR_Modificacion_proveedor]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TRIGGER [dbo].[TR_Modificacion_proveedor]
GO
/****** Object:  Trigger [TR_Modificacion_Producto]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TRIGGER [dbo].[TR_Modificacion_Producto]
GO
/****** Object:  Trigger [TR_Modificacion_Empleado]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TRIGGER [dbo].[TR_Modificacion_Empleado]
GO
/****** Object:  Trigger [TR_Disminucion_Stock]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TRIGGER [dbo].[TR_Disminucion_Stock]
GO
/****** Object:  Trigger [TR_Modificacion_Cliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TRIGGER [dbo].[TR_Modificacion_Cliente]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [CK_UnidadesEnStock]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [CK_UnidadesDeOrden]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [CK_Productos_PrecioUnitario]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [CK_NivelDePedido]
GO
ALTER TABLE [dbo].[Empleados] DROP CONSTRAINT [CK_FechaNacimiento]
GO
ALTER TABLE [dbo].[DetallesDeOrden] DROP CONSTRAINT [CK_PrecioUnitario]
GO
ALTER TABLE [dbo].[DetallesDeOrden] DROP CONSTRAINT [CK_Descuento]
GO
ALTER TABLE [dbo].[DetallesDeOrden] DROP CONSTRAINT [CK_Cantidad]
GO
ALTER TABLE [dbo].[Zona] DROP CONSTRAINT [FK_Zona_Region]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK_Productos_Proveedor]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [FK_Pedidos_Exportador]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [FK_Pedidos_Empleados]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [FK_Pedidos_Cliente]
GO
ALTER TABLE [dbo].[EmpleadoZona] DROP CONSTRAINT [FK_EmpleadoZona_Zona]
GO
ALTER TABLE [dbo].[EmpleadoZona] DROP CONSTRAINT [FK_EmpleadoZona_Empleados]
GO
ALTER TABLE [dbo].[Empleados] DROP CONSTRAINT [FK_Empleados_Empleados]
GO
ALTER TABLE [dbo].[DetallesDeOrden] DROP CONSTRAINT [FK_Order_Details_Productos]
GO
ALTER TABLE [dbo].[DetallesDeOrden] DROP CONSTRAINT [FK_Order_Details_Pedidos]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [DF_Productos_Descontinuado]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [DF_Productos_NivelDePedido]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [DF_Productos_UnidadesDeOrden]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [DF_Productos_UnidadesEnStock]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [DF_Productos_PrecioUnitario]
GO
ALTER TABLE [dbo].[Pedidos] DROP CONSTRAINT [DF_Pedidos_CostoFlete]
GO
ALTER TABLE [dbo].[DetallesDeOrden] DROP CONSTRAINT [DF_Order_Details_Descuento]
GO
ALTER TABLE [dbo].[DetallesDeOrden] DROP CONSTRAINT [DF_Order_Details_Cantidad]
GO
ALTER TABLE [dbo].[DetallesDeOrden] DROP CONSTRAINT [DF_Order_Details_PrecioUnitario]
GO
/****** Object:  Index [PK_Zona]    Script Date: 27/10/2018 03:30:30 a. m. ******/
ALTER TABLE [dbo].[Zona] DROP CONSTRAINT [PK_Zona]
GO
/****** Object:  Index [PK_Region]    Script Date: 27/10/2018 03:30:30 a. m. ******/
ALTER TABLE [dbo].[Region] DROP CONSTRAINT [PK_Region]
GO
/****** Object:  Index [NombreCompañia]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [NombreCompañia] ON [dbo].[Proveedor]
GO
/****** Object:  Index [CodigoPostal]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [CodigoPostal] ON [dbo].[Proveedor]
GO
/****** Object:  Index [ProveedorProductos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [ProveedorProductos] ON [dbo].[Productos]
GO
/****** Object:  Index [NombreProducto]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [NombreProducto] ON [dbo].[Productos]
GO
/****** Object:  Index [IDProveedor]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [IDProveedor] ON [dbo].[Productos]
GO
/****** Object:  Index [IDcategoria]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [IDcategoria] ON [dbo].[Productos]
GO
/****** Object:  Index [CategoriasProductos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [CategoriasProductos] ON [dbo].[Productos]
GO
/****** Object:  Index [IDempleado]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [IDempleado] ON [dbo].[Pedidos]
GO
/****** Object:  Index [IDcliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [IDcliente] ON [dbo].[Pedidos]
GO
/****** Object:  Index [FechaDePedido]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [FechaDePedido] ON [dbo].[Pedidos]
GO
/****** Object:  Index [FechaDeEnvio]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [FechaDeEnvio] ON [dbo].[Pedidos]
GO
/****** Object:  Index [ExportadorPedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [ExportadorPedidos] ON [dbo].[Pedidos]
GO
/****** Object:  Index [EmpleadosPedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [EmpleadosPedidos] ON [dbo].[Pedidos]
GO
/****** Object:  Index [CodigoPostalEmbarque]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [CodigoPostalEmbarque] ON [dbo].[Pedidos]
GO
/****** Object:  Index [ClientePedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [ClientePedidos] ON [dbo].[Pedidos]
GO
/****** Object:  Index [PK_EmpleadoZona]    Script Date: 27/10/2018 03:30:30 a. m. ******/
ALTER TABLE [dbo].[EmpleadoZona] DROP CONSTRAINT [PK_EmpleadoZona]
GO
/****** Object:  Index [CodigoPostal]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [CodigoPostal] ON [dbo].[Empleados]
GO
/****** Object:  Index [Apellido]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [Apellido] ON [dbo].[Empleados]
GO
/****** Object:  Index [ProductosOrder_Details]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [ProductosOrder_Details] ON [dbo].[DetallesDeOrden]
GO
/****** Object:  Index [PedidosOrder_Details]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [PedidosOrder_Details] ON [dbo].[DetallesDeOrden]
GO
/****** Object:  Index [IDProducto]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [IDProducto] ON [dbo].[DetallesDeOrden]
GO
/****** Object:  Index [IDPedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [IDPedidos] ON [dbo].[DetallesDeOrden]
GO
/****** Object:  Index [Region]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [Region] ON [dbo].[Cliente]
GO
/****** Object:  Index [NombreCompañia]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [NombreCompañia] ON [dbo].[Cliente]
GO
/****** Object:  Index [Cuidad]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [Cuidad] ON [dbo].[Cliente]
GO
/****** Object:  Index [CodigoPostal]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [CodigoPostal] ON [dbo].[Cliente]
GO
/****** Object:  Index [NombreDeCategoria]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP INDEX [NombreDeCategoria] ON [dbo].[Categorias]
GO
/****** Object:  View [dbo].[Subtotales de pedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP VIEW [dbo].[Subtotales de pedidos]
GO
/****** Object:  View [dbo].[ProductosPorID]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP VIEW [dbo].[ProductosPorID]
GO
/****** Object:  View [dbo].[Productos por encima del precio promedio]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP VIEW [dbo].[Productos por encima del precio promedio]
GO
/****** Object:  View [dbo].[PedidosHechos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP VIEW [dbo].[PedidosHechos]
GO
/****** Object:  View [dbo].[ListaDeProductosEnOrdenAlfabetico]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP VIEW [dbo].[ListaDeProductosEnOrdenAlfabetico]
GO
/****** Object:  View [dbo].[Facturas]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP VIEW [dbo].[Facturas]
GO
/****** Object:  View [dbo].[DetallesDePedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP VIEW [dbo].[DetallesDePedidos]
GO
/****** Object:  View [dbo].[Cliente y Proveedor por Cuidad]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP VIEW [dbo].[Cliente y Proveedor por Cuidad]
GO
/****** Object:  Table [dbo].[Zona]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Zona]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Region]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Proveedor]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Productos]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Pedidos]
GO
/****** Object:  Table [dbo].[Exportador]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Exportador]
GO
/****** Object:  Table [dbo].[EmpleadoZona]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[EmpleadoZona]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Empleados]
GO
/****** Object:  Table [dbo].[DetallesDeOrden]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[DetallesDeOrden]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP TABLE [dbo].[Categorias]
GO
/****** Object:  StoredProcedure [dbo].[PedidosPorCantidad]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP PROCEDURE [dbo].[PedidosPorCantidad]
GO
/****** Object:  StoredProcedure [dbo].[PedidosDetalles]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP PROCEDURE [dbo].[PedidosDetalles]
GO
/****** Object:  StoredProcedure [dbo].[PedidoPorCliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP PROCEDURE [dbo].[PedidoPorCliente]
GO
/****** Object:  StoredProcedure [dbo].[FechaDePedidoPorIDCliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP PROCEDURE [dbo].[FechaDePedidoPorIDCliente]
GO
/****** Object:  StoredProcedure [dbo].[ArticulosMasCaros]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP PROCEDURE [dbo].[ArticulosMasCaros]
GO
USE [master]
GO
/****** Object:  Database [PIAventas]    Script Date: 27/10/2018 03:30:30 a. m. ******/
DROP DATABASE [PIAventas]
GO
/****** Object:  Database [PIAventas]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE DATABASE [PIAventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIAventas', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PIAventas.mdf' , SIZE = 5184KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PIAventas_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PIAventas_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIAventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIAventas]
GO
/****** Object:  StoredProcedure [dbo].[ArticulosMasCaros]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ArticulosMasCaros] AS
SET ROWCOUNT 10
SELECT Productos.NombreProducto AS TenMostExpensiveProductos, Productos.PrecioUnitario
FROM Productos
ORDER BY Productos.PrecioUnitario DESC

GO
/****** Object:  StoredProcedure [dbo].[FechaDePedidoPorIDCliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FechaDePedidoPorIDCliente] @IDcliente nchar(5)
AS
SELECT IDPedidos, 
	FechaDePedido,
	FechaRequerida,
	FechaDeEnvio
FROM Pedidos
WHERE IDcliente = @IDcliente
ORDER BY IDPedidos

GO
/****** Object:  StoredProcedure [dbo].[PedidoPorCliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PedidoPorCliente] @IDcliente nchar(5)
AS
SELECT NombreProducto, Total=SUM(Cantidad)
FROM Productos P, [DetallesDeOrden] OD, Pedidos O, Cliente C
WHERE C.IDcliente = @IDcliente
AND C.IDcliente = O.IDcliente AND O.IDPedidos = OD.IDPedidos AND OD.IDProducto = P.IDProducto
GROUP BY NombreProducto

GO
/****** Object:  StoredProcedure [dbo].[PedidosDetalles]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PedidosDetalles] @IDPedidos int
AS
SELECT NombreProducto,
    PrecioUnitario=ROUND(Od.PrecioUnitario, 2),
    Cantidad,
    Descuento=CONVERT(int, Descuento * 100), 
    ExtendedPrice=ROUND(CONVERT(money, Cantidad * (1 - Descuento) * Od.PrecioUnitario), 2)
FROM Productos P, [DetallesDeOrden] Od
WHERE Od.IDProducto = P.IDProducto and Od.IDPedidos = @IDPedidos

GO
/****** Object:  StoredProcedure [dbo].[PedidosPorCantidad]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[PedidosPorCantidad]
@var int 

as
begin

select NombreProducto , Cantidad , total

from DetallesDePedidos

where Cantidad > @var
end;
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IDcategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreDeCategoria] [nvarchar](15) NOT NULL,
	[Descripcion] [ntext] NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IDcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IDcliente] [nchar](5) NOT NULL,
	[NombreCompañia] [nvarchar](40) NOT NULL,
	[NombreContacto] [nvarchar](30) NULL,
	[NombrePuesto] [nvarchar](40) NULL,
	[Direccion] [nvarchar](60) NULL,
	[Cuidad] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[CodigoPostal] [nvarchar](10) NULL,
	[Pais] [nvarchar](15) NULL,
	[Telefono] [nvarchar](24) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IDcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetallesDeOrden]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesDeOrden](
	[IDPedidos] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[PrecioUnitario] [money] NOT NULL,
	[Cantidad] [smallint] NOT NULL,
	[Descuento] [real] NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[IDPedidos] ASC,
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IDempleado] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](10) NOT NULL,
	[Puesto] [nvarchar](30) NULL,
	[Titulo] [nvarchar](25) NULL,
	[FechaNacimiento] [datetime] NULL,
	[FechaContratacion] [datetime] NULL,
	[Direccion] [nvarchar](60) NULL,
	[Cuidad] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[CodigoPostal] [nvarchar](10) NULL,
	[Pais] [nvarchar](15) NULL,
	[TelefonoDeCasa] [nvarchar](24) NULL,
	[Extension] [nvarchar](4) NULL,
	[Reportes] [int] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[IDempleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmpleadoZona]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadoZona](
	[IDempleado] [int] NOT NULL,
	[IDzona] [nvarchar](20) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exportador]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exportador](
	[IDexportador] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompañia] [nvarchar](40) NOT NULL,
	[Telefono] [nvarchar](24) NULL,
 CONSTRAINT [PK_Exportador] PRIMARY KEY CLUSTERED 
(
	[IDexportador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IDPedidos] [int] IDENTITY(1,1) NOT NULL,
	[IDcliente] [nchar](5) NULL,
	[IDempleado] [int] NULL,
	[FechaDePedido] [datetime] NULL,
	[FechaRequerida] [datetime] NULL,
	[FechaDeEnvio] [datetime] NULL,
	[EmbarcarVia] [int] NULL,
	[CostoFlete] [money] NULL,
	[NombreDeTransporte] [nvarchar](40) NULL,
	[DireccionEmbarque] [nvarchar](60) NULL,
	[CuidadEmbarque] [nvarchar](15) NULL,
	[RegionEmbarque] [nvarchar](15) NULL,
	[CodigoPostalEmbarque] [nvarchar](10) NULL,
	[PaisEmbarque] [nvarchar](15) NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[IDPedidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Productos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nvarchar](40) NOT NULL,
	[IDProveedor] [int] NULL,
	[IDcategoria] [int] NULL,
	[PrecioUnitario] [money] NULL,
	[UnidadesEnStock] [smallint] NULL,
	[UnidadesDeOrden] [smallint] NULL,
	[NivelDePedido] [smallint] NULL,
	[Descontinuado] [bit] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IDProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompañia] [nvarchar](40) NOT NULL,
	[NombreContacto] [nvarchar](30) NULL,
	[NombrePuesto] [nvarchar](40) NULL,
	[Direccion] [nvarchar](60) NULL,
	[Cuidad] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[CodigoPostal] [nvarchar](10) NULL,
	[Pais] [nvarchar](15) NULL,
	[Telefono] [nvarchar](24) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Region]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionID] [int] NOT NULL,
	[RegionDescripcion] [nchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Zona]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zona](
	[IDzona] [nvarchar](20) NOT NULL,
	[ZonaDescripcion] [nchar](50) NOT NULL,
	[RegionID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Cliente y Proveedor por Cuidad]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Cliente y Proveedor por Cuidad] AS
SELECT Cuidad, NombreCompañia, NombreContacto, 'Cliente' AS Relationship 
FROM Cliente
UNION SELECT Cuidad, NombreCompañia, NombreContacto, 'Proveedor'
FROM Proveedor
--ORDER BY Cuidad, NombreCompañia

GO
/****** Object:  View [dbo].[DetallesDePedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*ORDER BY "DetallesDeOrden".IDPedidos*/
CREATE VIEW [dbo].[DetallesDePedidos]
AS
SELECT        dbo.DetallesDeOrden.IDPedidos, dbo.DetallesDeOrden.IDProducto, dbo.Productos.NombreProducto, dbo.DetallesDeOrden.PrecioUnitario, dbo.DetallesDeOrden.Cantidad, dbo.DetallesDeOrden.Descuento, CONVERT(money, 
                         (dbo.DetallesDeOrden.PrecioUnitario * dbo.DetallesDeOrden.Cantidad) * (1 - dbo.DetallesDeOrden.Descuento) / 100) * 100 AS Total
FROM            dbo.Productos INNER JOIN
                         dbo.DetallesDeOrden ON dbo.Productos.IDProducto = dbo.DetallesDeOrden.IDProducto

GO
/****** Object:  View [dbo].[Facturas]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Facturas] AS
SELECT Pedidos.NombreDeTransporte, Pedidos.DireccionEmbarque, Pedidos.CuidadEmbarque, Pedidos.RegionEmbarque, Pedidos.CodigoPostalEmbarque, 
	Pedidos.PaisEmbarque, Pedidos.IDcliente, Cliente.NombreCompañia AS CustomerName, Cliente.Direccion, Cliente.Cuidad, 
	Cliente.Region, Cliente.CodigoPostal, Cliente.Pais, 
	(Nombre + ' ' + Apellido) AS Salesperson, 
	Pedidos.IDPedidos, Pedidos.FechaDePedido, Pedidos.FechaRequerida, Pedidos.FechaDeEnvio, Exportador.NombreCompañia As ShipperName, 
	"DetallesDeOrden".IDProducto, Productos.NombreProducto, "DetallesDeOrden".PrecioUnitario, "DetallesDeOrden".Cantidad, 
	"DetallesDeOrden".Descuento, 
	(CONVERT(money,("DetallesDeOrden".PrecioUnitario*Cantidad*(1-Descuento)/100))*100) AS ExtendedPrice, Pedidos.CostoFlete
FROM 	Exportador INNER JOIN 
		(Productos INNER JOIN 
			(
				(Empleados INNER JOIN 
					(Cliente INNER JOIN Pedidos ON Cliente.IDcliente = Pedidos.IDcliente) 
				ON Empleados.IDempleado = Pedidos.IDempleado) 
			INNER JOIN "DetallesDeOrden" ON Pedidos.IDPedidos = "DetallesDeOrden".IDPedidos) 
		ON Productos.IDProducto = "DetallesDeOrden".IDProducto) 
	ON Exportador.IDexportador = Pedidos.EmbarcarVia

GO
/****** Object:  View [dbo].[ListaDeProductosEnOrdenAlfabetico]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ListaDeProductosEnOrdenAlfabetico] AS
SELECT Productos.*, Categorias.NombreDeCategoria
FROM Categorias INNER JOIN Productos ON Categorias.IDcategoria = Productos.IDcategoria
WHERE (((Productos.Descontinuado)=0))

GO
/****** Object:  View [dbo].[PedidosHechos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[PedidosHechos] AS
SELECT Pedidos.IDPedidos, Pedidos.IDcliente, Pedidos.IDempleado, Pedidos.FechaDePedido, Pedidos.FechaRequerida, 
	Pedidos.FechaDeEnvio, Pedidos.EmbarcarVia, Pedidos.CostoFlete, Pedidos.NombreDeTransporte, Pedidos.DireccionEmbarque, Pedidos.CuidadEmbarque, 
	Pedidos.RegionEmbarque, Pedidos.CodigoPostalEmbarque, Pedidos.PaisEmbarque, 
	Cliente.NombreCompañia, Cliente.Direccion, Cliente.Cuidad, Cliente.Region, Cliente.CodigoPostal, Cliente.Pais
FROM Cliente INNER JOIN Pedidos ON Cliente.IDcliente = Pedidos.IDcliente

GO
/****** Object:  View [dbo].[Productos por encima del precio promedio]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Productos por encima del precio promedio] AS
SELECT Productos.NombreProducto, Productos.PrecioUnitario
FROM Productos
WHERE Productos.PrecioUnitario>(SELECT AVG(PrecioUnitario) From Productos)
--ORDER BY Productos.PrecioUnitario DESC

GO
/****** Object:  View [dbo].[ProductosPorID]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[ProductosPorID] AS
SELECT Product_List.IDProducto, Product_List.NombreProducto
FROM Productos AS Product_List
WHERE (((Product_List.Descontinuado)=0))
--ORDER BY Product_List.NombreProducto

GO
/****** Object:  View [dbo].[Subtotales de pedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Subtotales de pedidos] AS
SELECT "DetallesDeOrden".IDPedidos, Sum(CONVERT(money,("DetallesDeOrden".PrecioUnitario*Cantidad*(1-Descuento)/100))*100) AS Subtotal
FROM "DetallesDeOrden"
GROUP BY "DetallesDeOrden".IDPedidos

GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IDcategoria], [NombreDeCategoria], [Descripcion]) VALUES (1, N'Bebidas', N'Refrescos, cafés, tés, cervezas y cervezas.')
INSERT [dbo].[Categorias] ([IDcategoria], [NombreDeCategoria], [Descripcion]) VALUES (2, N'Condimentos', N'Salsas dulces y saladas, condimentos, untables y condimentos.')
INSERT [dbo].[Categorias] ([IDcategoria], [NombreDeCategoria], [Descripcion]) VALUES (3, N'Confecciones', N'Postres, dulces y panes dulces.')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
INSERT [dbo].[Cliente] ([IDcliente], [NombreCompañia], [NombreContacto], [NombrePuesto], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [Telefono]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Maria Anders', N'RepresentanteDeVentas', N'Obere Str. 57', N'Berlin', NULL, N'12209', N'Germany', N'030-0074321')
INSERT [dbo].[Cliente] ([IDcliente], [NombreCompañia], [NombreContacto], [NombrePuesto], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [Telefono]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Propietario', N'Avda. de la Constitución 2222', N'México D.F.', NULL, N'05021', N'Mexico', N'(5) 555-4729')
INSERT [dbo].[Cliente] ([IDcliente], [NombreCompañia], [NombreContacto], [NombrePuesto], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [Telefono]) VALUES (N'ANTON', N'Antonio Moreno Taquería', N'Antonio Moreno', N'Propietario', N'Mataderos  2312', N'México D.F.', NULL, N'05023', N'Mexico', N'(5) 555-3932')
INSERT [dbo].[DetallesDeOrden] ([IDPedidos], [IDProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (10248, 11, 14.0000, 12, 0)
INSERT [dbo].[DetallesDeOrden] ([IDPedidos], [IDProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (10248, 42, 9.8000, 10, 0)
INSERT [dbo].[DetallesDeOrden] ([IDPedidos], [IDProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (10248, 72, 34.8000, 5, 0)
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IDempleado], [Apellido], [Nombre], [Puesto], [Titulo], [FechaNacimiento], [FechaContratacion], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [TelefonoDeCasa], [Extension], [Reportes]) VALUES (1, N'Davolio', N'Nancy', N'Representante de Ventas', N'Ms.', CAST(0x000045D100000000 AS DateTime), CAST(0x000083BB00000000 AS DateTime), N'507 - 20th Ave. E.
Apt. 2A', N'Seattle', N'WA', N'98122', N'USA', N'(206) 555-9857', N'5467', 2)
INSERT [dbo].[Empleados] ([IDempleado], [Apellido], [Nombre], [Puesto], [Titulo], [FechaNacimiento], [FechaContratacion], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [TelefonoDeCasa], [Extension], [Reportes]) VALUES (2, N'Fuller', N'Arturo', N'Vice Presidente de Ventas', N'Dr.', CAST(0x00004A6100000000 AS DateTime), CAST(0x0000842400000000 AS DateTime), N'908 W. Capital Way', N'Tacoma', N'WA', N'98401', N'USA', N'(206) 555-9482', N'3457', NULL)
INSERT [dbo].[Empleados] ([IDempleado], [Apellido], [Nombre], [Puesto], [Titulo], [FechaNacimiento], [FechaContratacion], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [TelefonoDeCasa], [Extension], [Reportes]) VALUES (3, N'Leverling', N'Janet', N'Representante de Ventas', N'Ms.', CAST(0x00005AD300000000 AS DateTime), CAST(0x0000839D00000000 AS DateTime), N'722 Moss Bay Blvd.', N'Kirkland', N'WA', N'98033', N'USA', N'(206) 555-3412', N'3355', 2)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
INSERT [dbo].[EmpleadoZona] ([IDempleado], [IDzona]) VALUES (1, N'06897')
INSERT [dbo].[EmpleadoZona] ([IDempleado], [IDzona]) VALUES (1, N'19713')
INSERT [dbo].[EmpleadoZona] ([IDempleado], [IDzona]) VALUES (2, N'01581')
SET IDENTITY_INSERT [dbo].[Exportador] ON 

INSERT [dbo].[Exportador] ([IDexportador], [NombreCompañia], [Telefono]) VALUES (1, N'Speedy Express', N'(503) 555-9831')
INSERT [dbo].[Exportador] ([IDexportador], [NombreCompañia], [Telefono]) VALUES (2, N'United Package', N'(503) 555-3199')
INSERT [dbo].[Exportador] ([IDexportador], [NombreCompañia], [Telefono]) VALUES (3, N'Federal Shipping', N'(503) 555-9931')
SET IDENTITY_INSERT [dbo].[Exportador] OFF
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IDPedidos], [IDcliente], [IDempleado], [FechaDePedido], [FechaRequerida], [FechaDeEnvio], [EmbarcarVia], [CostoFlete], [NombreDeTransporte], [DireccionEmbarque], [CuidadEmbarque], [RegionEmbarque], [CodigoPostalEmbarque], [PaisEmbarque]) VALUES (10248, N'VINET', 5, CAST(0x000089B000000000 AS DateTime), CAST(0x000089CC00000000 AS DateTime), CAST(0x000089BC00000000 AS DateTime), 3, 32.3800, N'Vins et alcools Chevalier', N'59 rue de l''Abbaye', N'Reims', NULL, N'51100', N'France')
INSERT [dbo].[Pedidos] ([IDPedidos], [IDcliente], [IDempleado], [FechaDePedido], [FechaRequerida], [FechaDeEnvio], [EmbarcarVia], [CostoFlete], [NombreDeTransporte], [DireccionEmbarque], [CuidadEmbarque], [RegionEmbarque], [CodigoPostalEmbarque], [PaisEmbarque]) VALUES (10249, N'TOMSP', 6, CAST(0x000089B100000000 AS DateTime), CAST(0x000089DB00000000 AS DateTime), CAST(0x000089B600000000 AS DateTime), 1, 11.6100, N'Toms Spezialitäten', N'Luisenstr. 48', N'Münster', NULL, N'44087', N'Germany')
INSERT [dbo].[Pedidos] ([IDPedidos], [IDcliente], [IDempleado], [FechaDePedido], [FechaRequerida], [FechaDeEnvio], [EmbarcarVia], [CostoFlete], [NombreDeTransporte], [DireccionEmbarque], [CuidadEmbarque], [RegionEmbarque], [CodigoPostalEmbarque], [PaisEmbarque]) VALUES (10250, N'HANAR', 4, CAST(0x000089B400000000 AS DateTime), CAST(0x000089D000000000 AS DateTime), CAST(0x000089B800000000 AS DateTime), 2, 65.8300, N'Hanari Carnes', N'Rua do Paço, 67', N'Rio de Janeiro', N'RJ', N'05454-876', N'Brazil')
GO
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IDProducto], [NombreProducto], [IDProveedor], [IDcategoria], [PrecioUnitario], [UnidadesEnStock], [UnidadesDeOrden], [NivelDePedido], [Descontinuado]) VALUES (1, N'Chai', 1, 1, 18.0000, 39, 0, 10, 0)
INSERT [dbo].[Productos] ([IDProducto], [NombreProducto], [IDProveedor], [IDcategoria], [PrecioUnitario], [UnidadesEnStock], [UnidadesDeOrden], [NivelDePedido], [Descontinuado]) VALUES (2, N'Chang', 1, 1, 19.0000, 17, 40, 25, 0)
INSERT [dbo].[Productos] ([IDProducto], [NombreProducto], [IDProveedor], [IDcategoria], [PrecioUnitario], [UnidadesEnStock], [UnidadesDeOrden], [NivelDePedido], [Descontinuado]) VALUES (3, N'Aniseed Syrup', 1, 2, 10.0000, 13, 70, 25, 0)
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IDProveedor], [NombreCompañia], [NombreContacto], [NombrePuesto], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [Telefono]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', N'Gerente de compras', N'49 Gilbert St.', N'London', NULL, N'EC1 4SD', N'UK', N'(171) 555-2222')
INSERT [dbo].[Proveedor] ([IDProveedor], [NombreCompañia], [NombreContacto], [NombrePuesto], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [Telefono]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'Administrador de pedidos', N'P.O. Box 78934', N'New Orleans', N'LA', N'70117', N'USA', N'(100) 555-4822')
INSERT [dbo].[Proveedor] ([IDProveedor], [NombreCompañia], [NombreContacto], [NombrePuesto], [Direccion], [Cuidad], [Region], [CodigoPostal], [Pais], [Telefono]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', N'Representante de ventas', N'707 Oxford Rd.', N'Ann Arbor', N'MI', N'48104', N'USA', N'(313) 555-5735')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
INSERT [dbo].[Region] ([RegionID], [RegionDescripcion]) VALUES (1, N'Eastern                                           ')
INSERT [dbo].[Region] ([RegionID], [RegionDescripcion]) VALUES (2, N'Western                                           ')
INSERT [dbo].[Region] ([RegionID], [RegionDescripcion]) VALUES (3, N'Northern                                          ')
INSERT [dbo].[Zona] ([IDzona], [ZonaDescripcion], [RegionID]) VALUES (N'01581', N'Westboro                                          ', 1)
INSERT [dbo].[Zona] ([IDzona], [ZonaDescripcion], [RegionID]) VALUES (N'01730', N'Bedford                                           ', 1)
INSERT [dbo].[Zona] ([IDzona], [ZonaDescripcion], [RegionID]) VALUES (N'01833', N'Georgetow                                         ', 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [NombreDeCategoria]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [NombreDeCategoria] ON [dbo].[Categorias]
(
	[NombreDeCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CodigoPostal]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [CodigoPostal] ON [dbo].[Cliente]
(
	[CodigoPostal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Cuidad]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [Cuidad] ON [dbo].[Cliente]
(
	[Cuidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [NombreCompañia]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [NombreCompañia] ON [dbo].[Cliente]
(
	[NombreCompañia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Region]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [Region] ON [dbo].[Cliente]
(
	[Region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDPedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [IDPedidos] ON [dbo].[DetallesDeOrden]
(
	[IDPedidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDProducto]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [IDProducto] ON [dbo].[DetallesDeOrden]
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PedidosOrder_Details]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [PedidosOrder_Details] ON [dbo].[DetallesDeOrden]
(
	[IDPedidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ProductosOrder_Details]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [ProductosOrder_Details] ON [dbo].[DetallesDeOrden]
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Apellido]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [Apellido] ON [dbo].[Empleados]
(
	[Apellido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CodigoPostal]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [CodigoPostal] ON [dbo].[Empleados]
(
	[CodigoPostal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_EmpleadoZona]    Script Date: 27/10/2018 03:30:30 a. m. ******/
ALTER TABLE [dbo].[EmpleadoZona] ADD  CONSTRAINT [PK_EmpleadoZona] PRIMARY KEY NONCLUSTERED 
(
	[IDempleado] ASC,
	[IDzona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ClientePedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [ClientePedidos] ON [dbo].[Pedidos]
(
	[IDcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CodigoPostalEmbarque]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [CodigoPostalEmbarque] ON [dbo].[Pedidos]
(
	[CodigoPostalEmbarque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EmpleadosPedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [EmpleadosPedidos] ON [dbo].[Pedidos]
(
	[IDempleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ExportadorPedidos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [ExportadorPedidos] ON [dbo].[Pedidos]
(
	[EmbarcarVia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FechaDeEnvio]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [FechaDeEnvio] ON [dbo].[Pedidos]
(
	[FechaDeEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FechaDePedido]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [FechaDePedido] ON [dbo].[Pedidos]
(
	[FechaDePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDcliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [IDcliente] ON [dbo].[Pedidos]
(
	[IDcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDempleado]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [IDempleado] ON [dbo].[Pedidos]
(
	[IDempleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CategoriasProductos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [CategoriasProductos] ON [dbo].[Productos]
(
	[IDcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDcategoria]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [IDcategoria] ON [dbo].[Productos]
(
	[IDcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDProveedor]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [IDProveedor] ON [dbo].[Productos]
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [NombreProducto]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [NombreProducto] ON [dbo].[Productos]
(
	[NombreProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ProveedorProductos]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [ProveedorProductos] ON [dbo].[Productos]
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CodigoPostal]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [CodigoPostal] ON [dbo].[Proveedor]
(
	[CodigoPostal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [NombreCompañia]    Script Date: 27/10/2018 03:30:30 a. m. ******/
CREATE NONCLUSTERED INDEX [NombreCompañia] ON [dbo].[Proveedor]
(
	[NombreCompañia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_Region]    Script Date: 27/10/2018 03:30:30 a. m. ******/
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [PK_Region] PRIMARY KEY NONCLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_Zona]    Script Date: 27/10/2018 03:30:30 a. m. ******/
ALTER TABLE [dbo].[Zona] ADD  CONSTRAINT [PK_Zona] PRIMARY KEY NONCLUSTERED 
(
	[IDzona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetallesDeOrden] ADD  CONSTRAINT [DF_Order_Details_PrecioUnitario]  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[DetallesDeOrden] ADD  CONSTRAINT [DF_Order_Details_Cantidad]  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[DetallesDeOrden] ADD  CONSTRAINT [DF_Order_Details_Descuento]  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Pedidos] ADD  CONSTRAINT [DF_Pedidos_CostoFlete]  DEFAULT ((0)) FOR [CostoFlete]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_PrecioUnitario]  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_UnidadesEnStock]  DEFAULT ((0)) FOR [UnidadesEnStock]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_UnidadesDeOrden]  DEFAULT ((0)) FOR [UnidadesDeOrden]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_NivelDePedido]  DEFAULT ((0)) FOR [NivelDePedido]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_Descontinuado]  DEFAULT ((0)) FOR [Descontinuado]
GO
ALTER TABLE [dbo].[DetallesDeOrden]  WITH NOCHECK ADD  CONSTRAINT [FK_Order_Details_Pedidos] FOREIGN KEY([IDPedidos])
REFERENCES [dbo].[Pedidos] ([IDPedidos])
GO
ALTER TABLE [dbo].[DetallesDeOrden] CHECK CONSTRAINT [FK_Order_Details_Pedidos]
GO
ALTER TABLE [dbo].[DetallesDeOrden]  WITH NOCHECK ADD  CONSTRAINT [FK_Order_Details_Productos] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[DetallesDeOrden] CHECK CONSTRAINT [FK_Order_Details_Productos]
GO
ALTER TABLE [dbo].[Empleados]  WITH NOCHECK ADD  CONSTRAINT [FK_Empleados_Empleados] FOREIGN KEY([Reportes])
REFERENCES [dbo].[Empleados] ([IDempleado])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Empleados]
GO
ALTER TABLE [dbo].[EmpleadoZona]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadoZona_Empleados] FOREIGN KEY([IDempleado])
REFERENCES [dbo].[Empleados] ([IDempleado])
GO
ALTER TABLE [dbo].[EmpleadoZona] CHECK CONSTRAINT [FK_EmpleadoZona_Empleados]
GO
ALTER TABLE [dbo].[EmpleadoZona]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadoZona_Zona] FOREIGN KEY([IDzona])
REFERENCES [dbo].[Zona] ([IDzona])
GO
ALTER TABLE [dbo].[EmpleadoZona] CHECK CONSTRAINT [FK_EmpleadoZona_Zona]
GO
ALTER TABLE [dbo].[Pedidos]  WITH NOCHECK ADD  CONSTRAINT [FK_Pedidos_Cliente] FOREIGN KEY([IDcliente])
REFERENCES [dbo].[Cliente] ([IDcliente])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Cliente]
GO
ALTER TABLE [dbo].[Pedidos]  WITH NOCHECK ADD  CONSTRAINT [FK_Pedidos_Empleados] FOREIGN KEY([IDempleado])
REFERENCES [dbo].[Empleados] ([IDempleado])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Empleados]
GO
ALTER TABLE [dbo].[Pedidos]  WITH NOCHECK ADD  CONSTRAINT [FK_Pedidos_Exportador] FOREIGN KEY([EmbarcarVia])
REFERENCES [dbo].[Exportador] ([IDexportador])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Exportador]
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IDcategoria])
REFERENCES [dbo].[Categorias] ([IDcategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [FK_Productos_Proveedor] FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedor] ([IDProveedor])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedor]
GO
ALTER TABLE [dbo].[Zona]  WITH CHECK ADD  CONSTRAINT [FK_Zona_Region] FOREIGN KEY([RegionID])
REFERENCES [dbo].[Region] ([RegionID])
GO
ALTER TABLE [dbo].[Zona] CHECK CONSTRAINT [FK_Zona_Region]
GO
ALTER TABLE [dbo].[DetallesDeOrden]  WITH NOCHECK ADD  CONSTRAINT [CK_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallesDeOrden] CHECK CONSTRAINT [CK_Cantidad]
GO
ALTER TABLE [dbo].[DetallesDeOrden]  WITH NOCHECK ADD  CONSTRAINT [CK_Descuento] CHECK  (([Descuento]>=(0) AND [Descuento]<=(1)))
GO
ALTER TABLE [dbo].[DetallesDeOrden] CHECK CONSTRAINT [CK_Descuento]
GO
ALTER TABLE [dbo].[DetallesDeOrden]  WITH NOCHECK ADD  CONSTRAINT [CK_PrecioUnitario] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[DetallesDeOrden] CHECK CONSTRAINT [CK_PrecioUnitario]
GO
ALTER TABLE [dbo].[Empleados]  WITH NOCHECK ADD  CONSTRAINT [CK_FechaNacimiento] CHECK  (([FechaNacimiento]<getdate()))
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [CK_FechaNacimiento]
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [CK_NivelDePedido] CHECK  (([NivelDePedido]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_NivelDePedido]
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [CK_Productos_PrecioUnitario] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_PrecioUnitario]
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [CK_UnidadesDeOrden] CHECK  (([UnidadesDeOrden]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_UnidadesDeOrden]
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [CK_UnidadesEnStock] CHECK  (([UnidadesEnStock]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_UnidadesEnStock]
GO
/****** Object:  Trigger [dbo].[TR_Modificacion_Cliente]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create trigger [dbo].[TR_Modificacion_Cliente]
  on [dbo].[Cliente]
  After update
  as
   begin
   select *
   from Cliente
   where IDcliente = (select IDcliente from inserted) 
     end;

GO
/****** Object:  Trigger [dbo].[TR_Disminucion_Stock]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 Create trigger [dbo].[TR_Disminucion_Stock]
  on [dbo].[DetallesDeOrden]
  After insert
  as
   begin
   declare @Producto  int 
   declare @Cantidad  int
	set @Producto = (select IDProducto from inserted)
    set @Cantidad = (select Cantidad from inserted)
   
   
   update Productos
   set UnidadesEnStock = UnidadesEnStock - @Cantidad
   where IDProducto = @Producto
     end;
GO
/****** Object:  Trigger [dbo].[TR_Modificacion_Empleado]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create trigger [dbo].[TR_Modificacion_Empleado]
  on [dbo].[Empleados]
  After update
  as
   begin
   select *
   from Empleados
   where IDempleado = (select IDempleado from inserted) 
     end;
GO
/****** Object:  Trigger [dbo].[TR_Modificacion_Producto]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 Create trigger [dbo].[TR_Modificacion_Producto]
  on [dbo].[Productos]
  After update
  as
   begin
   select *
   from Productos
   where IDProducto = (select IDProducto from inserted) 
     end;
GO
/****** Object:  Trigger [dbo].[TR_Modificacion_proveedor]    Script Date: 27/10/2018 03:30:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 Create trigger [dbo].[TR_Modificacion_proveedor]
  on [dbo].[Proveedor]
  After update
  as
   begin
   select *
   from Proveedor
   where IDProveedor= (select IDProveedor from inserted) 
     end;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Productos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "DetallesDeOrden"
            Begin Extent = 
               Top = 6
               Left = 261
               Bottom = 136
               Right = 431
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5430
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetallesDePedidos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetallesDePedidos'
GO
USE [master]
GO
