USE [Practica 1]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 08/09/2018 9:26:47 ******/
DROP TABLE [dbo].[Materia]
GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 08/09/2018 9:26:47 ******/
DROP TABLE [dbo].[Maestro]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 08/09/2018 9:26:47 ******/
DROP TABLE [dbo].[Libro]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 08/09/2018 9:26:47 ******/
DROP TABLE [dbo].[Curso]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 08/09/2018 9:26:47 ******/
DROP TABLE [dbo].[Alumno]
GO
USE [master]
GO
/****** Object:  Database [Practica 1]    Script Date: 08/09/2018 9:26:47 ******/
DROP DATABASE [Practica 1]
GO
/****** Object:  Database [Practica 1]    Script Date: 08/09/2018 9:26:47 ******/
CREATE DATABASE [Practica 1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica 1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practica 1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica 1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practica 1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica 1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica 1]
GO
USE [Practica 1]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 08/09/2018 9:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[idMatricula] [int] NOT NULL,
	[AsistenciaDelAlumno] [bit] NULL,
	[NumeroDeTelefono] [int] NOT NULL,
	[PromedioDelAlumno] [float] NULL,
	[NombreDelAlumno] [varchar](25) NOT NULL,
	[DescripcionDelAlumno] [text] NOT NULL,
	[FotoDelAlumno] [image] NOT NULL,
	[FechaDeRegistro] [datetime] NOT NULL,
	[Inscripcion] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 08/09/2018 9:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[idCurso] [int] NOT NULL,
	[Aprobado] [bit] NULL,
	[NumeroDeAlumnos] [int] NOT NULL,
	[PromedioTotal] [float] NULL,
	[NombreDelCurso] [varchar](25) NOT NULL,
	[DescripcionDelCurso] [text] NOT NULL,
	[FotoDelcurso] [image] NOT NULL,
	[FechaDeInscripcion] [datetime] NOT NULL,
	[CostoDelCurso] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 08/09/2018 9:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[idLibro] [int] NOT NULL,
	[Disponible] [bit] NULL,
	[NumeroEnExistencia] [int] NOT NULL,
	[PromedioDelLibro] [float] NULL,
	[NombreDelLibro] [varchar](25) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[FotoDelaPortada] [image] NOT NULL,
	[FechaDePublicacion] [datetime] NOT NULL,
	[CostoDelLibro] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[idLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 08/09/2018 9:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestro](
	[idMaestro] [int] NOT NULL,
	[Asistencia] [bit] NULL,
	[NumeroDeTelefono] [int] NOT NULL,
	[PromedioDelMaestro] [float] NULL,
	[NombreDelMaestro] [varchar](25) NOT NULL,
	[DescripcionDelMaestro] [text] NOT NULL,
	[FotoDelMaestro] [image] NOT NULL,
	[FechaDeInicio] [datetime] NOT NULL,
	[CostoPorClase] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMaestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 08/09/2018 9:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[idMateria] [int] NOT NULL,
	[Cursado] [bit] NULL,
	[NumeroDeAlumnos] [int] NOT NULL,
	[PromedioTotal] [float] NULL,
	[NombreDelaMateria] [varchar](25) NOT NULL,
	[DescripcionDelMateria] [text] NOT NULL,
	[FotoDelMateria] [image] NOT NULL,
	[FechaDeInscripcion] [datetime] NOT NULL,
	[CostoPorMateria] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
